@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200..900&display=swap');

body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.card img{
    width: 300px;
    border-radius: 10px 0 0 10px;
}

.card-content{
    width: 300px;
    padding: 30px;
}

.card-product{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
}

.card-product-name{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.card-product-info{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-size: medium;
    font-weight: 500;
}

.price{
    vertical-align: middle;
}

.price-final{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: 30px;
    font-weight: 700;
}

.price-original{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    vertical-align: middle;
}

button{
    width: 235px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .card {
        flex-direction: column;
    }
    .card img{
        border-radius: 10px 10px 0 0;
    }
}